p {
    font-family: 'helvetica';
    color: black;
    text-align:justify;
    font-weight: 200;
    font-size: 15px;
}

h2 {
    font-family: 'helvetica';
    color: rgb(0, 33, 71);
}

h3 {
    font-family: 'helvetica';
    color: rgb(0, 33, 71);
}
h4 {
    font-family: 'helvetica';
    color: rgb(0, 33, 71);
}


.content {
    padding-left: 10%;
    padding-right: 10%;
}

.column {
    flex: 40%;
}

.row {
    display: flex;
}
 

.photo {
    width: 30vw;
}

h1 {
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 5%;
    
    font-family: 'helvetica';
    color: black;
    text-align:left;
    font-weight: 300;
    font-size: 30px;
}

.titlediv {
    font-family: 'helvetica';
    color: rgb(0, 33, 71);
    text-align:justify;
    padding-left: 5%;
    padding-bottom: 1%;
    width: 20%;
    font-weight: 300;
}

a {
    color: rgb(0, 33, 71);
    text-decoration:none;
    font-weight:bold;
}

