p {
    font-family: 'times';
    color: black;
    text-align:justify;
    font-weight: 200;
    font-size: 15px;
}

.subdiv {
    font-family: 'times';
    color: rgb(0, 33, 71);
    font-weight: 200;
    font-size:15px;
    text-align: center;
    font-variant: small-caps;
}

.logo-div {
    padding-top: 30px;
    padding-left: 30px;
}

.subsubdiv {
    font-family: 'times';
    color: rgb(0, 33, 71);
    font-weight: 200;
    font-size: 17px;
}

.content {
    padding-left: 5%;
    padding-right: 5%;
}

.right {
    width: 50vw; 
}

.row {
    display: flex;
}
.name {
  font-size:25px;
  font-variant: small-caps;
}

.logo {
  width: 50px,
  height: auto
}

h1 {
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 5%;
    
    font-family: 'times';
    color: black;
    text-align:left;
    font-weight: 300;
    font-size: 30px;
}

.titlediv {
    font-family: 'times';
    color: rgb(0, 33, 71);
    text-align:justify;
    padding-left: 5%;
    padding-bottom: 1%;
    width: 40%;
    font-weight: 200;
}

a {
    text-decoration:none;
    color: black;
}

a:hover {
  color: rgb(0, 33, 71);
}

